<div class="head-content">
    <div class="centered-img">
        <p >¡Hola!, Soy Alfredo ;D</p>
    </div>
</div>

<div class="container main-content">
    <img src="assets/profile.png" class="img-fluid avatar">
    <div class="main-tittle accent">
        <p>
            < Desarrollador Full Stack />
        </p>
    </div>

    <div class="img-container">
        <img src="assets/laptop.png">
    </div>
    
    <div class="container-accent">
        <div></div>
        <div class="row">
            <div class="col-md-6 col-sm-12">
                <h2>Detalles</h2>
                <hr>
                <b>Email</b>
                <p>razogarduno@gmail.com</p>
            </div>
            <div class="col-md-6 col-sm-12">
                <h2>Acerca</h2>
                <hr>
                <p style="text-align: justify;">
                    Desarrollador web experimentado, experto en todas las etapas del desarrollo web. Conocedor en
                    interfaces de usuario, pruebas y depuración de procesos. Aportando experiencia en diseño,
                    instalación, pruebas y mantenimiento de sistemas. Equipado con diversas y prometedoras habilidades,
                    Competente en una variedad de tecnologías incluyendo PHP, NodeJS, Angular, Python, Nginx, Oracle,
                    Apache, Linux Server, Git y PostgreSQL. Capaz de autogestionarse eficazmente durante proyectos
                    independientes, así como de colaborar en equipo.
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 col-sm-12">
                <h2>Trabajos</h2>
                <hr>
                <h3><b>Desarrollador Jr.</b> en Secretaría de Administración y Finanzas - 2015</h3>
                <p style="text-align: justify;">Mantenimiento de viejos sistemas de recaudación, desarrollo de nuevos
                    módulos para pagar impuestos.</p>
                <h3><b>Desarrollador Semi Senior.</b> en Secretaría de Administración y Finanzas - 2016 - 2017</h3>
                <p style="text-align: justify;">
                    Reingeniería y desarrollo de viejos sistemas a nuevas tecnologías, despliegue de aplicaciones a
                    servidores de producción.
                </p>
                <h3><b>Desarrollador Senior.</b> in Secretaría de Administración y Finanzas - 2017 - 2018</h3>
                <p style="text-align: justify;">Desarrollo de sistemas completos para pagos, manejo y diseño de base de
                    datos, desarrollo de servicios REST y SOAP.</p>
                <h3><b>Desarrollador Senior.</b> in GOB.mx - 2019 - 2020</h3>
                <p style="text-align: justify;">Desarrollador frontend, mantenimiento de sistemas heredados en php,
                    migración de infraestructura de servidores, administración de servidores postgres, nginx, linux
                    datos abiertos.</p>
                <h3><b>Desarrollador Senior.</b> en BIDG - 2020 - Hoy</h3>
                <p style="text-align: justify;">Micro servicios REST, Aplicaciones móviles, mantenimiento de sistemas
                    heredados en c#, reingeniería de sistemas heredados</p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 col-sm-12">
                <h2>Educación</h2>
                <hr>
                <h3><b>Ingeniería en Sistemas Inteligentes</b> - Universidad Autónoma del Estado de México –
                    Nezahualcóyotl, Estado de México - 2009 - 2015.</h3>
                <h3><b>Técnico en Computación</b> - Centro de Bachillerato Tecnológico #2 Dr. Maximiliano Ruíz C. –
                    Nezahualcóyotl, Estado de México - 2005 – 2008.</h3>

            </div>
        </div>
        <div class="row" style="min-height: 160px;">
        </div>
    </div>
    
    <div class="container" style="margin-top: -100px; margin-bottom: 100px;">
        
            <mat-card class="col-md-12 col-sm-12 col-xs-12">
                <mat-card-content>
                    <br>
                    <h1 style="text-align: center; font-size: 50px;" class="accent">Habilidades</h1>
                    <hr>
                    <div class="row skills">
                        <div class="col-md-4 col-lg-4">
                            <img src="assets/backend.png">
                            <h3>Backend</h3>
                            <p class="accent">Lenguajes: </p>
                            <p>PHP, Python, NodeJS</p>
                            <p>Nginx, Apache, Linux, Azure, AWS</p>
                        </div>
                        <div class="col-md-4 col-lg-4">
                            <img src="assets/frontend.png">
                            <h3>Frontend</h3>
                            <p class="accent">Frameworks:</p>
                            <p>jQuery, Angular, React</p>
                        </div>
                        <div class="col-md-4 col-lg-4">
                            <img src="assets/database.png">
                            <h3>Base de datos</h3>
                            <p>MySQL, PostgreSQL, Oracle</p>
                        </div>

                    </div>
                </mat-card-content>

            </mat-card>
        
    </div>
</div>